body {
  font-family: 'Arial', sans-serif;
}

.login{
  background: linear-gradient(to bottom right, #4eab85, #475f7b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-color {
  background-color: #40916c;
  color: white;
}

.login-box {
  width: 500px; /* default width for large screens */
  max-width: 100%;
}

/* Media Query for Tablets and Mobile Devices */
@media (max-width: 768px) {
  .login-box {
    width: 80%; /* Take up 80% of the screen */
    max-width: 500px; /* Set a maximum width */
  }
}

@media (max-width: 480px) {
  .login-box {
    width: 90%; /* Take up 90% of the screen */
    max-width: 400px; /* Set a maximum width */
  }
}
